In [1]:
import numpy as np

In [2]:
import pandas as pd

In [13]:
from numpy.random import randn
np.random.seed(20)

In [5]:
sample = np.random.rand(101)

In [6]:
seed = np.random.seed(50)

In [20]:
np.random.rand(101)

array([ 0.46269203,  0.40821902,  0.48704348,  0.07051578,  0.58210861,
        0.9870218 ,  0.20908846,  0.21237612,  0.96113505,  0.70695408,
        0.59296821,  0.38085241,  0.6387405 ,  0.50242857,  0.08979307,
        0.29717467,  0.82814423,  0.17545597,  0.90448946,  0.58831483,
        0.01653446,  0.37002218,  0.0421295 ,  0.12728055,  0.17926823,
        0.16645859,  0.8836885 ,  0.90595205,  0.23540098,  0.40725992,
        0.47116016,  0.83023402,  0.29200762,  0.17382853,  0.45814311,
        0.90242916,  0.59493692,  0.41261333,  0.40565094,  0.30848417,
        0.31787873,  0.41508602,  0.63816707,  0.79526952,  0.03703341,
        0.7345411 ,  0.77257086,  0.24442453,  0.98507686,  0.67500584,
        0.89276474,  0.2430547 ,  0.05169588,  0.70974306,  0.95726431,
        0.02283522,  0.91314252,  0.72827371,  0.95540532,  0.27313545,
        0.17059351,  0.32260102,  0.27723846,  0.49060245,  0.13071575,
        0.73818374,  0.14032357,  0.57065071,  0.53333793,  0.23352304,
        0.47689405,  0.46474217,  0.8060311 ,  0.01858511,  0.71281658,
        0.25099336,  0.66052656,  0.63644596,  0.05698766,  0.71890955,
        0.33992343,  0.54964287,  0.74431993,  0.17851274,  0.2507041 ,
        0.1338797 ,  0.15077408,  0.93903034,  0.97145289,  0.14255659,
        0.19586501,  0.10039784,  0.08181247,  0.76837567,  0.21035674,
        0.46217645,  0.08401004,  0.33150228,  0.9883258 ,  0.90027204,
        0.8653286 ])

In [18]:
np.random.seed(50)

In [21]:
df = pd.DataFrame(randn(5,4),index = 'A B C D E'.split(),columns = 'W X Y Z'.split())

In [22]:
df

          W         X         Y         Z
A  1.519790 -0.876912  0.001592 -0.555541
B  0.331439 -0.547610 -1.877392 -0.685565
C -0.833694  0.885150 -0.225758 -0.006810
D  0.009894 -0.072349 -1.263753 -1.487238
E -1.424160 -1.006034 -1.596550  0.155433

In [23]:
#data frams is like the view of DB

In [24]:
df('W')

TypeError: 'DataFrame' object is not callable

In [25]:
df['W']

A    1.519790
B    0.331439
C   -0.833694
D    0.009894
E   -1.424160
Name: W, dtype: float64

In [26]:
#Smallest part of data frame is series

In [32]:
df[['Y', 'W','Z']] #list is passed in this

          Y         W         Z
A  0.001592  1.519790 -0.555541
B -1.877392  0.331439 -0.685565
C -0.225758 -0.833694 -0.006810
D -1.263753  0.009894 -1.487238
E -1.596550 -1.424160  0.155433

In [39]:
s = 'W X Y Z'.split()

In [40]:
s

['W', 'X', 'Y', 'Z']

In [41]:
df[s]

          W         X         Y         Z
A  1.519790 -0.876912  0.001592 -0.555541
B  0.331439 -0.547610 -1.877392 -0.685565
C -0.833694  0.885150 -0.225758 -0.006810
D  0.009894 -0.072349 -1.263753 -1.487238
E -1.424160 -1.006034 -1.596550  0.155433

In [43]:
df.W
# not recomended

A    1.519790
B    0.331439
C   -0.833694
D    0.009894
E   -1.424160
Name: W, dtype: float64

In [44]:
type(df)

pandas.core.frame.DataFrame

In [45]:
type(df.W)

pandas.core.series.Series

In [46]:
#if any operation is performed on data frame the answer will be data frame.

In [47]:
df['new'] = df['Y']+df['Z']

In [48]:
df

          W         X         Y         Z       new
A  1.519790 -0.876912  0.001592 -0.555541 -0.553949
B  0.331439 -0.547610 -1.877392 -0.685565 -2.562957
C -0.833694  0.885150 -0.225758 -0.006810 -0.232568
D  0.009894 -0.072349 -1.263753 -1.487238 -2.750990
E -1.424160 -1.006034 -1.596550  0.155433 -1.441117

In [51]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','ussr','japan'])

In [56]:
df.drop('new',axis=1)

          W         X         Y         Z
A  1.519790 -0.876912  0.001592 -0.555541
B  0.331439 -0.547610 -1.877392 -0.685565
C -0.833694  0.885150 -0.225758 -0.006810
D  0.009894 -0.072349 -1.263753 -1.487238
E -1.424160 -1.006034 -1.596550  0.155433

In [57]:
df

          W         X         Y         Z       new
A  1.519790 -0.876912  0.001592 -0.555541 -0.553949
B  0.331439 -0.547610 -1.877392 -0.685565 -2.562957
C -0.833694  0.885150 -0.225758 -0.006810 -0.232568
D  0.009894 -0.072349 -1.263753 -1.487238 -2.750990
E -1.424160 -1.006034 -1.596550  0.155433 -1.441117

In [58]:
df.drop('new',axis=1,inplace=True)

In [59]:
df

          W         X         Y         Z
A  1.519790 -0.876912  0.001592 -0.555541
B  0.331439 -0.547610 -1.877392 -0.685565
C -0.833694  0.885150 -0.225758 -0.006810
D  0.009894 -0.072349 -1.263753 -1.487238
E -1.424160 -1.006034 -1.596550  0.155433

In [60]:
#row

In [61]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [62]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [67]:
df.loc[['A' ,'C']]

          W         X         Y         Z
A  1.519790 -0.876912  0.001592 -0.555541
C -0.833694  0.885150 -0.225758 -0.006810

In [68]:
df.iloc[2]

W   -0.833694
X    0.885150
Y   -0.225758
Z   -0.006810
Name: C, dtype: float64

In [69]:
df.iloc[2][Y]

NameError: name 'Y' is not defined

In [70]:
df.iloc[2]['Y']

-0.22575798430201247

In [71]:
df.iloc[3:]

          W         X         Y         Z
D  0.009894 -0.072349 -1.263753 -1.487238
E -1.424160 -1.006034 -1.596550  0.155433

In [73]:
df.loc['B':]

          W         X         Y         Z
B  0.331439 -0.547610 -1.877392 -0.685565
C -0.833694  0.885150 -0.225758 -0.006810
D  0.009894 -0.072349 -1.263753 -1.487238
E -1.424160 -1.006034 -1.596550  0.155433

In [74]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  1.519790  0.001592
B  0.331439 -1.877392

In [75]:
df.loc[['B'],['X']]

         X
B -0.54761

In [77]:
df.iloc[2,2]

-0.22575798430201247

In [79]:
df.loc[['B','X']]

          W        X         Y         Z
B  0.331439 -0.54761 -1.877392 -0.685565
X       NaN      NaN       NaN       NaN

In [80]:
df>0.5 #boolean data frame

       W      X      Y      Z
A   True  False  False  False
B  False  False  False  False
C  False   True  False  False
D  False  False  False  False
E  False  False  False  False

In [81]:
df[df>0.5]

         W        X   Y   Z
A  1.51979      NaN NaN NaN
B      NaN      NaN NaN NaN
C      NaN  0.88515 NaN NaN
D      NaN      NaN NaN NaN
E      NaN      NaN NaN NaN

In [82]:
df['W']>0.5

A     True
B    False
C    False
D    False
E    False
Name: W, dtype: bool

In [83]:
df[df['W']>0]

          W         X         Y         Z
A  1.519790 -0.876912  0.001592 -0.555541
B  0.331439 -0.547610 -1.877392 -0.685565
D  0.009894 -0.072349 -1.263753 -1.487238

In [92]:
df[df.loc['W']>0]

KeyError: 'the label [W] is not in the [index]'

In [93]:
#data frame accepts data frmae or list of columns

In [123]:
df['Y']>0.5

A    False
B    False
C    False
D    False
E    False
Name: Y, dtype: bool

In [118]:
df['X']>0.00001

A    False
B    False
C     True
D    False
E    False
Name: X, dtype: bool

In [124]:
df[(df['W']>0) | (df['Z']>0.15)]

          W         X         Y         Z
A  1.519790 -0.876912  0.001592 -0.555541
B  0.331439 -0.547610 -1.877392 -0.685565
D  0.009894 -0.072349 -1.263753 -1.487238
E -1.424160 -1.006034 -1.596550  0.155433

In [125]:
df.reset_index()

  index         W         X         Y         Z
0     A  1.519790 -0.876912  0.001592 -0.555541
1     B  0.331439 -0.547610 -1.877392 -0.685565
2     C -0.833694  0.885150 -0.225758 -0.006810
3     D  0.009894 -0.072349 -1.263753 -1.487238
4     E -1.424160 -1.006034 -1.596550  0.155433

In [126]:
new_ind= 'ab cd ef gf i'.split()

In [127]:
df['new'] = new_ind

In [128]:
df

          W         X         Y         Z new
A  1.519790 -0.876912  0.001592 -0.555541  ab
B  0.331439 -0.547610 -1.877392 -0.685565  cd
C -0.833694  0.885150 -0.225758 -0.006810  ef
D  0.009894 -0.072349 -1.263753 -1.487238  gf
E -1.424160 -1.006034 -1.596550  0.155433   i

In [129]:
df.set_index('new')

            W         X         Y         Z
new
ab   1.519790 -0.876912  0.001592 -0.555541
cd   0.331439 -0.547610 -1.877392 -0.685565
ef  -0.833694  0.885150 -0.225758 -0.006810
gf   0.009894 -0.072349 -1.263753 -1.487238
i   -1.424160 -1.006034 -1.596550  0.155433

In [130]:
df.set_index('new',drop = False)

            W         X         Y         Z new
new
ab   1.519790 -0.876912  0.001592 -0.555541  ab
cd   0.331439 -0.547610 -1.877392 -0.685565  cd
ef  -0.833694  0.885150 -0.225758 -0.006810  ef
gf   0.009894 -0.072349 -1.263753 -1.487238  gf
i   -1.424160 -1.006034 -1.596550  0.155433   i

In [131]:
df.set_index('new',append= True)

              W         X         Y         Z
  new
A ab   1.519790 -0.876912  0.001592 -0.555541
B cd   0.331439 -0.547610 -1.877392 -0.685565
C ef  -0.833694  0.885150 -0.225758 -0.006810
D gf   0.009894 -0.072349 -1.263753 -1.487238
E i   -1.424160 -1.006034 -1.596550  0.155433

In [132]:
#Multi Index and Index Hierarchy

In [133]:
l1 = [1,2,3,4,5]

In [136]:
l2 = [6,7,8,9]  #zip is done till length of short list

In [137]:
list(zip(l1,l2))

[(1, 6), (2, 7), (3, 8), (4, 9)]

In [157]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [158]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [159]:
df = pd.DataFrame(np.random.randn(6,2),index = hier_index,columns=['A','B'])

In [161]:
df

             A         B
G1 1  0.438958  0.155236
   2 -0.484242 -0.303160
   3 -0.058691  1.496978
G2 1  0.838018  0.235721
   2 -0.875974 -0.243307
   3  1.577870  1.740415

In [162]:
df.loc['G2'].loc[2]

A   -0.875974
B   -0.243307
Name: 2, dtype: float64

In [163]:
df.index.names = ['group','num']

In [164]:
df

                  A         B
group num
G1    1    0.438958  0.155236
      2   -0.484242 -0.303160
      3   -0.058691  1.496978
G2    1    0.838018  0.235721
      2   -0.875974 -0.243307
      3    1.577870  1.740415

In [165]:
df.xs('G1')

            A         B
num
1    0.438958  0.155236
2   -0.484242 -0.303160
3   -0.058691  1.496978

In [166]:
df.xs('1')

KeyError: '1'

In [167]:
df.xs(('G1',1))

A    0.438958
B    0.155236
Name: (G1, 1), dtype: float64

In [168]:
df.xs(['G1',1])

A    0.438958
B    0.155236
Name: (G1, 1), dtype: float64

In [169]:
df.xs(1,level= 'Num')

KeyError: 'Level Num not found'