In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
np.NaN

nan

In [5]:
np.nan

nan

In [6]:
np.NAN

nan

In [7]:
None #This is a dummy statement

In [8]:
if 1:
    pass  # It passes current line of execution

In [9]:
if 1:
    pass
    print(True)
    pass

True

In [10]:
if 1:
    pass
else:
    print(True)

In [25]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3],
                  'D':[np.nan,np.nan,np.nan]})

In [26]:
df

     A    B  C   D
0  1.0  5.0  1 NaN
1  2.0  NaN  2 NaN
2  NaN  NaN  3 NaN

In [27]:
df.dropna()

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [28]:
df.dropna(how = 'all')

     A    B  C   D
0  1.0  5.0  1 NaN
1  2.0  NaN  2 NaN
2  NaN  NaN  3 NaN

In [29]:
df = df.dropna(axis = 1,how = 'all')

In [30]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [31]:
 df.dropna(subset= ['A'])

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [32]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [33]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [42]:
df.dropna(thresh=3)

     A    B  C
0  1.0  5.0  1

In [41]:
df.fillna(value = 'exe')

     A    B  C
0    1    5  1
1    2  exe  2
2  exe  exe  3

In [43]:
df.fillna(value = 'exe',limit= 1)

     A    B  C
0    1    5  1
1    2  exe  2
2  exe  NaN  3

In [44]:
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [45]:
df.fillna(value = df['A'].mean())

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

In [47]:
df['A' 'C'].fillna(value = df['A'].mean())

KeyError: 'AC'