In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
arr= np.linspace(1,10,100)

In [5]:
arr

array([  1.        ,   1.09090909,   1.18181818,   1.27272727,
         1.36363636,   1.45454545,   1.54545455,   1.63636364,
         1.72727273,   1.81818182,   1.90909091,   2.        ,
         2.09090909,   2.18181818,   2.27272727,   2.36363636,
         2.45454545,   2.54545455,   2.63636364,   2.72727273,
         2.81818182,   2.90909091,   3.        ,   3.09090909,
         3.18181818,   3.27272727,   3.36363636,   3.45454545,
         3.54545455,   3.63636364,   3.72727273,   3.81818182,
         3.90909091,   4.        ,   4.09090909,   4.18181818,
         4.27272727,   4.36363636,   4.45454545,   4.54545455,
         4.63636364,   4.72727273,   4.81818182,   4.90909091,
         5.        ,   5.09090909,   5.18181818,   5.27272727,
         5.36363636,   5.45454545,   5.54545455,   5.63636364,
         5.72727273,   5.81818182,   5.90909091,   6.        ,
         6.09090909,   6.18181818,   6.27272727,   6.36363636,
         6.45454545,   6.54545455,   6.63636364,   6.72727273,
         6.81818182,   6.90909091,   7.        ,   7.09090909,
         7.18181818,   7.27272727,   7.36363636,   7.45454545,
         7.54545455,   7.63636364,   7.72727273,   7.81818182,
         7.90909091,   8.        ,   8.09090909,   8.18181818,
         8.27272727,   8.36363636,   8.45454545,   8.54545455,
         8.63636364,   8.72727273,   8.81818182,   8.90909091,
         9.        ,   9.09090909,   9.18181818,   9.27272727,
         9.36363636,   9.45454545,   9.54545455,   9.63636364,
         9.72727273,   9.81818182,   9.90909091,  10.        ])

In [6]:
sum(arr)

550.0

In [8]:
pd_arr = pd.Series(arr)

In [9]:
pd_arr

0      1.000000
1      1.090909
2      1.181818
3      1.272727
4      1.363636
5      1.454545
6      1.545455
7      1.636364
8      1.727273
9      1.818182
10     1.909091
11     2.000000
12     2.090909
13     2.181818
14     2.272727
15     2.363636
16     2.454545
17     2.545455
18     2.636364
19     2.727273
20     2.818182
21     2.909091
22     3.000000
23     3.090909
24     3.181818
25     3.272727
26     3.363636
27     3.454545
28     3.545455
29     3.636364
        ...
70     7.363636
71     7.454545
72     7.545455
73     7.636364
74     7.727273
75     7.818182
76     7.909091
77     8.000000
78     8.090909
79     8.181818
80     8.272727
81     8.363636
82     8.454545
83     8.545455
84     8.636364
85     8.727273
86     8.818182
87     8.909091
88     9.000000
89     9.090909
90     9.181818
91     9.272727
92     9.363636
93     9.454545
94     9.545455
95     9.636364
96     9.727273
97     9.818182
98     9.909091
99    10.000000
Length: 100, dtype: float64

In [10]:
labels = ['a','b','c']

In [11]:
my_list = [10,20,30]

In [12]:
arr = np.array([10,20,30])

In [13]:
d = {'a':10,'b':20,'c':30}

In [14]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(data=d)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','ussr','japan'])

In [21]:
ser1

USA        1
Germany    2
ussr       3
japan      4
dtype: int64

In [26]:
ser2 = pd.Series([10,20,30,40],index = ['US', 'Ger','India','japan'])

In [24]:
ser1['ussr']

3

In [27]:
ser1+ser2

Ger         NaN
Germany     NaN
India       NaN
US          NaN
USA         NaN
japan      44.0
ussr        NaN
dtype: float64